.randomPlanet {
    display: flex;
    padding: 10px; 
    background-color: rgb(71, 71, 71);
}
.randomPlanet>div {
    margin-left: 20px;
    flex-grow: 1;
}
.planetName {
    color: white;
    font-size: 1.2em;
}
.descriptionPlanet {
    list-style-type: none;
    padding: 0 20px;
}
.description__item {
    color: white;
    padding: 5px 0;
    border-bottom: 1px solid rgb(100, 100, 100);
}
.description__value {
    padding: 20px;
}
.planetImage {
    width: 200px;
}