.itemDetails {
    flex-basis: 50%;
    border-radius: 5px;
    display: flex;
    padding: 10px; 
    margin: 10px;
    margin: 10px 0;
    height: 275px;
    background-color: rgb(71, 71, 71);
}
.itemDetails>div {
    margin-left: 20px;
    flex-grow: 1;
}
