.header {
    display: flex;
}
.nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.nav-item {
    padding: 15px;
    border-radius: 20px;
}
.nav-item>a {
    color: white;
}
.nav-item>a:hover {
    cursor: pointer;
    color: rgb(174, 174, 185);
}
.logo {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
