.personName {
    color: white;
    font-size: 1.2em;
}
.descriptionPerson {
    list-style-type: none;
    padding: 0 20px;
}
.description__item {
    color: white;
    padding: 5px 0;
    border-bottom: 1px solid rgb(100, 100, 100);
}
.description__value {
    padding: 20px;
}
.personeImage {
    height: 100%;
}