.imageForError {
  width: 200px;
}
.box {
  display: flex;
  justify-content: center;
}
.box>div {
  display: flex;
  flex-direction: column;
}
.box span {
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
 