
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .glitch {
       color:#fff;
       font-family: 'Poppins', sans-serif;
       font-weight: 600;
       font-size:3em;
       position: relative;
       padding:3px;
       &:before, &:after {
          content:'Boom!';
          color:#fff;
          position: absolute;
          top:0;
          overflow:hidden;
          padding:3px;
       }
       &:before {
          left:3px;
          text-shadow: -2px 0 rgb(255, 0, 149);
          animation: glitchBefore 2s linear 0s infinite alternate;
       }
       &:after {
          left:-3px;
          text-shadow: -2px 0 rgb(0, 217, 255);
          animation: glitchAfter 2s linear 0s infinite alternate;
       }
    }
 }
 
 @keyframes glitchBefore {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }
 
 @keyframes glitchAfter {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }